{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="resources/font-awesome-4.7.0/css/font-awesome.min.css">
    <style>
        .accion{ 
            cursor:pointer 
        }
        .swal2-title{
            font-size: 20px !important;
        }
    </style>
    <script src="resources/js/transporte.js"></script>
    <script src="resources/js/functions.js"></script>

    <script>
        main_route = '/personal'

        function default_values() {
            page_nr = 1
            max_entries = 10
            like_search = ""
            order_by = ""
            ascendant = true
        }
        default_values()
    </script>
{% endblock %}
{% block body %}

    {{ include('personal/form.html.twig') }}

    <div class="header bg-indigo"><h2>PERSONAL</h2></div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
            {% if 'personal_insertar' in permisos %}
                <button id="new" type="button" class="btn bg-indigo waves-effect" title="Nuevo">
                    <i class="material-icons">add</i>
                </button>
            {% endif %}
            </div>
        </div>
        {% if  'home_personal' in permisos and objects %}
            <div class="row">
                <div class="body table-responsive">
                    <table id="data_tabletr" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="d-none" data-name="phone">ID </th>
                            <th class="order_by_th" data-name="names">Foto </th>
                            <th class="order_by_th" data-name="names">Nombre </th>
                            <th class="order_by_th" data-name="phone">Apellido </th>
                            <th class="order_by_th" data-name="phone">Género </th>
                            <th class="order_by_th" data-name="phone">Ci </th>
                            <th class="order_by_th" data-name="phone">Correo </th>
                            <th class="order_by_th" data-name="phone">Teléfono </th>
                            <th class="order_by_th" data-name="phone">Fecha de Nacimiento </th>
                            <th class="d-none" data-name="phone">Username </th>
                            <th class="d-none" data-name="phone">Procesos Cargo </th>
                            <th class="d-none" data-name="phone">Estado de Personal </th>
                            <th class="d-none" data-name="phone">Sector </th>
                            <th class="d-none" data-name="phone">Área </th>
                            <th class="actions_header">Acciones </th>
                        </tr>
                        </thead>
                        <tbody id="table_content">
                        {{ include('personal/table.html.twig') }}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
        {% endif %}
    </div>
{%endblock%}
{% block javascripts %}
    <script src="resources/plugins/momentjs/moment.js"></script>
    <script src="resources/plugins/momentjs/locale/es.js"></script>
    <script src="resources/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

    <script>
    attach_validators() 

    $('#fkprocesoscargo').selectpicker({
        size: 4,
        liveSearch: true,
        liveSearchPlaceholder: 'Buscar tipo de cargo.',
        title: 'Seleccione un tipo de cargo.'
    })

    $('#fkestadopersonal').selectpicker({
        size: 4,
        liveSearch: true,
        liveSearchPlaceholder: 'Buscar tipo de estado.',
        title: 'Seleccione un tipo de estado.'
    })

    $('#fksector').selectpicker({
        size: 4,
        liveSearch: true,
        liveSearchPlaceholder: 'Buscar sector.',
        title: 'Seleccione un sector.'
    })

    $('#fkarea').selectpicker({
        size: 4,
        liveSearch: true,
        liveSearchPlaceholder: 'Buscar área.',
        title: 'Seleccione un área.'
    })
    
    $('#genero').selectpicker({
        size: 4,
        liveSearch: true,
        liveSearchPlaceholder: 'Buscar género.',
        title: 'Seleccione un género.'
    })

    $("#foto").on('change', function() {
        $('.fileinput-upload').hide()
        $('.fileinput-remove-button span').text('Eliminar')
        $('.fileinput-remove-button').attr('title', 'Quitar archivos seleccionados')
        setTimeout(function(){ 
            $('.kv-file-zoom').hide()
            $('.file-upload-indicator').attr('title', 'No importado aún')
        }, 800);
    })
    
    $('#new').click(function () {
        $('#accion').val('new')
        $('#nombre').val('')
        $('#apellido').val('')
        $('#ci').val('')
        $('#correo').val('')
        $('#username').val('')
        $('#telefono').val('')
        $('#fnac').val('')

        $('#genero').val('')
        $('#genero').selectpicker('render')
        $('#fkprocesoscargo').val('')
        $('#fkprocesoscargo').selectpicker('render')
        $('#fkestadopersonal').val('')
        $('#fkestadopersonal').selectpicker('render')
        $('#fksector').val('')
        $('#fksector').selectpicker('render')
        $('#fkarea').val('')
        $('#fkarea').selectpicker('render')

        clean_form()
        verif_inputs()
        $('#id_div').hide()
        $('#insert').show()
        $('#update').hide()
        $('#form').modal('show')
    })

    $("#submit_form").on('submit', function(e){
        e.preventDefault();
        
        $.ajax({
            type: 'POST',
            url: '/personal_insertar',
            data: new FormData(this),
            contentType: false,
            cache: false,
            processData: false,
            beforeSend: function(){
                $('.file').attr("disabled", "disabled");
                $('#submit_form').css("opacity", ".7");
            },
            success: function(msg){
                $('#submit_form').css("opacity","");
                $(".file").removeAttr("disabled");
            }
        }).done(function (data) {
            msg = JSON.parse(data) 
            //console.log(msg)
            if(msg.response == 'Empty'){ 
                swal(
                    'Error',
                    'Por favor, ingrese todos los datos requeridos.',
                    'error'
                ) 
            }
            if(msg.response == 'NoFile'){
                swal(
                    'Error',
                    'Por favor, debe subir un archivo.',
                    'error'
                ) 
            }
            if(msg.response == 'Save'){
                $('#form').modal('hide')
                showMessage(msg.message, "success", "ok")
                setTimeout(function(){ window.location=main_route }, 1000);
            }
        })        
    });

    function attach_edit() {
        $('.edit').click(function () {
            obj = JSON.stringify({
                'id': parseInt(JSON.parse($(this).attr('data-json')))
            })
            ajax_call_get("/personal_editar",{
                object: obj
            },function(response){
                var self = JSON.parse(response)
                $('#accion').val('update')
                //console.log(self);

                $('#id').val(self.id)      
                $('#idp').val(self.id)
                $('#nombre').val(self.nombre)
                $('#apellido').val(self.apellido)
                $('#ci').val(self.ci)
                $('#correo').val(self.correo)
                $('#username').val(self.username)
                $('#telefono').val(self.telefono)
                $('#fnac').val(self.fnac)

                if(genero != null){
                    $('#genero').val(self.genero)
                    $('#genero').selectpicker('render')
                }

                if(self.fkprocesoscargo != null){
                    $('#fkprocesoscargo').val(self.fkprocesoscargo)
                    $('#fkprocesoscargo').selectpicker('render')
                }

                if(self.fkestadopersonal != null){
                    $('#fkestadopersonal').val(self.fkestadopersonal.id)
                    $('#fkestadopersonal').selectpicker('render')
                }

                if(self.fksector != null){
                    $('#fksector').val(self.fksector.id)
                    $('#fksector').selectpicker('render')
                }
                if(self.fkarea != null){
                    $('#fkarea').val(self.fkarea.id)
                    $('#fkarea').selectpicker('render')
                }

                clean_form()
                verif_inputs()
                $('#id_div').show()
                $('#insert').hide()
                $('#update').show()
                $('#form').modal('show')
            })
        })
    }

    $('#update').click(function () {
        objeto = JSON.stringify({
            'id': parseInt(JSON.parse($('#id').val())),
            'nombre': $('#nombre').val(),
            'apellido': $('#apellido').val(),
            'ci': $('#ci').val(),
            'correo': $('#correo').val(),
            'telefono': $('#telefono').val(),
            'fnac': $('#fnac').val(),
            'personalcargo': $('#fkprocesoscargo').val(),
            'estadopersonal': $('#fkestadopersonal').val(),
            'sector': $('#fksector').val(),
            'area': $('#fkarea').val()
        })
       ajax_call_validation("/personal_actualizar", {object: objeto}, null, main_route)
        // ajax_call("/personal_actualizar", {object: objeto}, null, function () {setTimeout(function(){window.location=main_route}, 2000);})
        //
        // $('#form').modal('hide')
    })
    reload_form()
    </script>
    <script>
        attach_edit()

        $('.delete').click(function () {
            id = parseInt(JSON.parse($(this).attr('data-json')))
            enabled = false
            swal({
                title: "¿Desea dar de baja el personal?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#004c99",
                cancelButtonColor: "#F44336",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar"
            }).then(function () {
                ajax_call("/personal_eliminar", { id,enabled,_xsrf: getCookie("_xsrf")}, null, function () {setTimeout(function(){window.location=main_route}, 2000);S})
            })
        })
    </script>
    <script>
        function format (d) {
            //console.log(d)
            return '<div class="card" style="width: 100%; background-color: rgba(0, 76, 153, .15)">'+
            '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
                '<tr>'+
                    '<td class="bold">Username:</td>'+
                    '<td>'+d[10]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Procesos Cargo:</td>'+
                    '<td>'+d[11]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Estado de Personal:</td>'+
                    '<td>'+d[12]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Sector:</td>'+
                    '<td>'+d[13]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Área:</td>'+
                    '<td>'+d[14]+'</td>'+
                '</tr>'+
            '</table></div>';
        }
    
        $(document).ready(function() {
            table = $('#data_tabletr').DataTable();
            $('#data_tabletr tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                let idet = 'per'+row.data()[1];
                if ( row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                    $("#"+idet).attr('class', 'fa fa-plus-square cl-teal');
                    $("#"+idet).attr('title', 'Mostrar más');
                }
                else {
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                    $("#"+idet).attr('class', 'fa fa-minus-square cl-red');
                    $("#"+idet).attr('title', 'Ver menos');
                }
            });
        });
    </script>

{% endblock %}