<div id="form" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="cliente_tittle" class="modal-title">Noticia</h3>
                <h4 id="cliente_enable" class=""></h4>
            </div>
            <div class="modal-body">
                <div id="cliente_form_body" class="box-body">
                    <div id="id_div" class="form-group">
                        <div class="form-line">
                            <input id="id" type="text" class="form-control" disabled="disabled">
                            <label class="form-label">Noticia ID</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="titulo" name="titulo" type="text" class="form-control text">
                            <label class="form-label">Título</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="subtitulo" name="subtitulo" type="text" class="form-control text">
                            <label class="form-label">Subtítulo</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <label>Tipo</label>
                        <select id="tipo" class="form-control" onchange="hideContenido(this)">
                            <option value="Noticia Prensa">Noticia Prensa</option>
                            <option value="Noticia Empresa">Noticia Empresa</option>
                            <option value="Urgente">Urgente</option>
                            <option value="Destacados">Destacados</option>
                        </select>
                        </br>
                        </br>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label class="form-label">Fecha</label><br>
                            <input id="fecha" name="fecha" type="date" class="form-control">
                        </div>
                    </div>

                    <div class="form-group form-float">
                        <label>
                            Categoría
                        </label>
                        {% for tr in categorias %}
                            <p>
                                <input value="{{ tr.id }}" type="checkbox" class="filled-in categoria" id="{{ tr.id }}" />
                                <label for="{{ tr.id }}">{{ tr.nombre }}</label>
                            </p>
                        {% endfor %}
                    </div>
                </div>
                <div class="row clearfix" id="cont-tpnt">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header bg-indigo">
                                <h2>
                                    CONTENIDO
                                </h2>
                            </div>
                            <div class="body">
                                <textarea id="contenido">
                                
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="insert" type="button" class="btn bg-indigo waves-effect">Guardar <i class="material-icons">save</i></button>
                    <button id="update" type="button" class="btn bg-indigo waves-effect">Modificar <i class="material-icons">refresh</i></button>
                </div>
            </div>
        </div>
    </div>
</div>