{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
    .accion{ 
        cursor: pointer;
    }
</style>
{% endblock %}

{% block body %}
<div class="header bg-indigo"><h2>CORREOS</h2></div>
<div class="body">
    <div class="row clearfix">
        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
        
        {% if 'correo_insertar' in permisos %}    
            <button id="new" type="button" class="btn bg-indigo waves-effect" title="Nuevo">
                <i class="material-icons">add</i>
            </button>
        {% endif %}   
        </div>
    </div>
    {% if 'home_correo' in permisos and objects %}
    <div class="row">
        <div class="body table-responsive">
            <table id="data_table" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                <thead>
                <tr>
                    <th class="order_by_th" data-name="names">Asunto </th>
                    <th class="order_by_th" data-name="phone">Mensaje </th>                 
                    <th class="order_by_th" data-name="phone">Remitente </th>
                    <th class="order_by_th" data-name="phone">Tipo </th>
                    <th class="order_by_th" data-name="phone">Fecha </th>
                </tr>
                </thead>
                <tbody id="table_content">
                {{ include('correo/table.html.twig') }}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
<script src="resources/js/functions.js"></script>

<script>
    main_route = '/correo'

    function default_values() {
        page_nr = 1
        max_entries = 10
        like_search = ""
        order_by = ""
        ascendant = true
    }
    default_values()
</script>
{% endblock %}