<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>ELFEC</title>
        <title>{% block title %}ELFEC{% endblock %}</title>
        <link rel="icon" href="resources/elfec.ico" type="image/x-icon">
        <link href="resources/css/iconfont/material-icons.css" rel="stylesheet">
        <link href="resources/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="resources/plugins/node-waves/waves.css" rel="stylesheet" />
        <link href="resources/plugins/fileinput/css/fileinput.min.css" rel="stylesheet" />
        <link href="resources/plugins/animate-css/animate.css" rel="stylesheet" />
        <link href="resources/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
        <link href="resources/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
        <link href="resources/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
        <link href="resources/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet">
        <link href="resources/css/style.css" rel="stylesheet">
        <link href="resources/css/themes/all-themes.css" rel="stylesheet" />
        <link href="resources/plugins/nestable/jquery-nestable.css" rel="stylesheet">
        <link href="resources/css/main.css" rel="stylesheet" />
        <link href="resources/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
        <link href="resources/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {% block stylesheets %}{% endblock %}
</head>
    <style>
        .login-page{ background-color: #3F51B5 }
        .input-group .form-line::after{
            border-bottom: 2px solid #302d66;
        }
    </style>

<body class="login-page">
    <div class="login-box">
        <div class="logo" style="margin: 0px">
            <center>
                <img class="img-responsive" width="250" height="250" src="resources/images/elfeclgw.png">
            </center>
        </div>
        <div class="card">
            <div class="body">
                
                <form id="form"  autocomplete="off">
                    
                    <div class="msg">Iniciar sesión</div>
                    
                    <div  class="alert alert-danger text-center" id="lgfail" style="display:none">
                        <span class="glyphicon glyphicon-lock"> </span><span id="msg"> CREDENCIALES INVALIDAS</span>
                    </div>
                    
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Nombre de usuario" required autofocus>
                        </div>
                    </div>
                    <div class="input-group" id="bf-btn">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required>
                        </div>
                        <span class="input-group-addon" id="see-pass" style="cursor: pointer;" title="Mostrar">
                            <i class="material-icons" style="color: grey" id="ic-pass">visibility</i>
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">

                        </div>
                        <div class="col-xs-4">
                            <button id="iniciar" class="btn bg-indigo btn-block waves-effect" type="button">Ingresar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="resources/plugins/jquery/jquery.min.js"></script>
        <script src="resources/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
        <script src="resources/plugins/bootstrap/js/bootstrap.js"></script>
        <script src="resources/plugins/node-waves/waves.js"></script>
        <script src="resources/js/admin.js"></script>
        <script src="resources/plugins/momentjs/moment.js"></script>
        <script src="resources/plugins/bootstrap-notify/bootstrap-notify.js"></script>
        <script src="resources/plugins/fileinput/js/fileinput.min.js"></script>
        <script src="resources/plugins/sweetalert2/sweetalert2.min.js"></script>
        <script src="resources/plugins/bootstrap-select/js/bootstrap-select.js"></script>
        <script src="resources/plugins/jquery-validation/jquery.validate.js"></script>
        <script src="resources/plugins/nestable/jquery.nestable.js"></script>
        <script src="resources/js/jquery.toast.js"></script>
        <script src="resources/js/functions.js"></script>
        <script src="resources/plugins/momentjs/moment.js"></script>
        <script src="resources/plugins/momentjs/locale/es.js"></script>
        <script src="resources/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
        
</body>
<script>
    $('#iniciar').click(function () {
        objeto = JSON.stringify({
            'user': $('#usuario').val(),
            'password': $('#password').val()
        })

        $.ajax({
            method: "POST",
            url: "/sesion",
            data: {object : objeto},
            async: false,
            beforeSend: function () {
                $("<div id='spn-ld' style='text-align: center; margin:auto;width:100%; height:65px;'>"+
                    "<div style='margin:auto;display:block; height:55px;'>"+
                        "<img src='resources/images/espiral.gif' style='height:100%; width:auto;'/>"+
                    "</div>"+
                "</div>").insertAfter("#bf-btn");
            },
            success: function (data, textStatus) {
                $("#spn-ld").fadeOut(800);
            }
        }).done(function (response) {
            var self = JSON.parse(response);
            if(self.response == "error" || self.response == "vacio"){
                $('#lgfail').fadeIn(2000)
               setTimeout(function(){ $('#lgfail').fadeOut(2000) }, 4000)
            }else{
               setTimeout(function(){window.location="/"}, 500)
            }
        });
    })

    $('#see-pass').mousedown(function(){
        $("#ic-pass").css("color", "lightgrey");
        $("#password").prop("type", "text");
    });
    
    $("#see-pass").mouseup(function(){
        $("#ic-pass").css("color", "grey");
        $("#password").prop("type", "password");
    });
</script>

</html>