
###> symfony/framework-bundle ###
#/.env
/public/bundles/
/var/
/vendor/
/assets/
/bin/
#/src/Controller/ServiciosController.php
#/src/Controller/SecurityController.php

###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

/public/build/
/public/correlativo/
/public/delautoridad/
/public/enlaces/
/public/files/
/public/GerenciaOrganigrama/
/public/Imagenes/
/public/organigrama/
/public/organigramagerencia/
/public/personal/
/public/PRUEBA/


/public/repositorio/
/public/reportes/
/public/videos/
/public/sig/
###> symfony/webpack-encore-bundle ###
/config/
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

/.idea
/.vscode
/archivosprueba.txt
/personal.rar
/resources.rar
/translations/