
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
/src/Controller/ServiciosController.php
/src/Controller/SecurityController.php

###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

/public/repositorio/
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
