{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
    .accion{ 
        cursor:pointer
    }
    .swal2-title{
        font-size: 16px !important;
    }
</style>
{% endblock %}

{% block body %}
{{ include('tiponota/form.html.twig') }}

<div class="header bg-indigo"><h2>TIPO DE NOTA</h2></div>
<div class="body">
    <div class="row clearfix">
        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
        {% if 'tiponota_insertar' in permisos %}
            <button id="new" type="button" class="btn bg-indigo waves-effect" title="Nuevo">
                <i class="material-icons">add</i>
            </button>
        {% endif %}
        </div>
    </div>
    {% if 'home_tiponota' in permisos and objects %}
    <div class="row">
        <div class="body table-responsive">
            <table id="data_table" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                <thead>
                <tr>
                    <th class="order_by_th" data-name="names">Nombre </th>
                    <th class="order_by_th" data-name="phone">Descripción </th>
                    <th class="actions_header">Acciones </th>
                </tr>
                </thead>
                <tbody id="table_content">
                {{ include('tiponota/table.html.twig') }}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
<script src="resources/js/functions.js"></script>

<script>
    main_route = '/tiponota'

    function default_values() {
        page_nr = 1
        max_entries = 10
        like_search = ""
        order_by = ""
        ascendant = true
    }
    default_values()
</script>

<script>
    attach_validators()
    $('#new').click(function () {
        $('#nombre').val('')
        $('#descripcion').val('')

        clean_form()
        verif_inputs()
        $('#id_div').hide()
        $('#insert').show()
        $('#update').hide()
        $('#form').modal('show')
    })
    
    $('#insert').click(function () {
        objeto = JSON.stringify({
            'nombre': $('#nombre').val(),
            'descripcion': $('#descripcion').val()
        })
       ajax_call_validation("/tiponota_insertar", {object: objeto}, null, main_route)
    })

    function attach_edit() {
        $('.edit').click(function () {
            obj = JSON.stringify({
                'id': parseInt(JSON.parse($(this).attr('data-json')))
            });
            ajax_call_get("/tiponota_editar",{
                object: obj
            },function(response){
                var self = JSON.parse(response);

                $('#id').val(self.id)
                $('#nombre').val(self.nombre)
                $('#descripcion').val(self.descripcion)

                clean_form()
                verif_inputs()
                $('#id_div').show()
                $('#insert').hide()
                $('#update').show()
                $('#form').modal('show')
            })
        })
    }

    $('#update').click(function () {
        objeto = JSON.stringify({
            'id': parseInt(JSON.parse($('#id').val())),
            'nombre': $('#nombre').val(),
            'descripcion': $('#descripcion').val()
        })
        ajax_call_validation("/tiponota_actualizar", {object: objeto}, null, main_route)
    })
    reload_form()
</script>

<script>
    attach_edit()

    let message= ''
    function tiponota_prev(id) {
        obj = JSON.stringify({
            'id': parseInt(JSON.parse(id))
        });
        ajax_call_get("/tiponota_prev",{
            object: obj
        },function(response){
            message = response;
        });
    }

    $('.delete').click(function () {
        id = parseInt(JSON.parse($(this).attr('data-json')))
        tiponota_prev(id)

        let quest = message
        enabled = false

        if((quest.split(" ").length) > 8){
            swal({
                title: quest,
                type: "warning",
                showConfirmButton: false,
                showCancelButton: true,
                confirmButtonColor: "#004c99",
                cancelButtonColor: "#F44336",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar"
            }).then(function () {

            })
        }else{
            swal({
                title: quest,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#004c99",
                cancelButtonColor: "#F44336",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar"
            }).then(function () {
                ajax_call("/tiponota_eliminar", { 
                    id, enabled,_xsrf: getCookie("_xsrf")}, 
                    null, 
                    function () {
                        setTimeout(function(){ window.location=main_route }, 1000);
                })
            })
        }
    })
</script>
{% endblock %}