{% extends 'base.html.twig' %}
{% block title %}{{ title_page }}{% endblock %}

{% block stylesheets %}
<style>
    .accion{ 
        cursor:pointer 
    }
    .txta-own{
        background-color: rgba(40, 40, 40, .05);
        min-width: 100% !important;
        max-width: 100% !important;
        padding: 4px !important;
    }
    .img-main-own{
        height: 90px !important;
        width: auto !important;
    }
</style>
{% endblock %}

{% block body %}
    <div class="header">
        <h2>Intranet corporativa para {{ title_page }}.
            <small>Sistema desarrollado en Symfony.</small>
        </h2>
    </div>
    <div class="body">
        <div class="row clearfix">
            <center>
                <img class="img-responsive img-main-own" src="{{ main_image }}">
            </center>
        </div>
    </div>
{% endblock %}