{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="resources/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="resources/css/sweetalert2.min.css">
    <style>
        .accion{ 
            cursor:pointer 
        }
        .swal2-title{
            font-size: 16px !important;
        }
        .modal-dialog-own {
            width: 80% !important;
        }
        .modal-dialog-validate {
            width: 64% !important;
        }
        .pd-own{
            padding: 10px !important;
        }
    </style>
    <script src="resources/js/transporte.js"></script>
    <script src="resources/js/functions.js"></script>
    
    <script>
        main_route = '/documentoproceso'

        function default_values() {
            page_nr = 1
            max_entries = 10
            like_search = ""
            order_by = ""
            ascendant = true
        }
        default_values()    
    </script>
{% endblock %}
{% block body %}

    {{ include('documentoproceso/form.html.twig') }}

    <div class="header bg-indigo"><h2>DOCUMENTO EN PROCESO</h2></div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-xs-3 col-sm-8 col-md-8 col-lg-8">
            {% if 'documentoproceso_insertar' in permisos %}
                <button id="new" type="button" class="btn bg-indigo waves-effect" title="Nuevo">
                    <i class="material-icons">add</i>
                </button>
            {% endif %}
            {% if docderiv %}
                <button id="apb" type="button" class="btn bg-teal waves-effect" title="Documentos derivados">
                    <i class="material-icons">folder</i> Docs. derivados
                </button>
            {% endif %}
            </div>
        </div>
        {% if 'home_documentoproceso' in permisos and objects %}
            <div class="row">
                <div class="body table-responsive">
                    <table id="data_tabletr" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="d-none" data-name="phone">ID </th>
                            <th class="order_by_th" data-name="phone">Código del Documento </th>
                            <th class="order_by_th" data-name="names">Nuevo/Actualización </th>
                            <th class="order_by_th" data-name="phone">Proceso </th>
                            <th class="order_by_th" data-name="phone">Tipo </th>
                            <th class="order_by_th" data-name="phone">Título </th>
                            <th class="order_by_th" data-name="phone">Versión </th>
                            <th class="d-none" data-name="phone">Vínculo archivo </th>
                            <th class="d-none" data-name="phone">Carpeta operativa </th>
                            <th class="d-none" data-name="phone">Aprobado/Rechazado </th>
                            <th class="d-none" data-name="phone">Aprobado por </th>
                            <th class="d-none" data-name="phone">Fecha de aprobación </th>
                            <th class="actions_header">Acciones </th>
                        </tr>
                        </thead>
                        <tbody id="table_content">
                        {{ include('documentoproceso/table.html.twig') }}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="resources/plugins/momentjs/moment.js"></script>
    <script src="resources/plugins/momentjs/locale/es.js"></script>
    <script src="resources/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    {# <script src="resources/js/sweetalert2.min.js"></script> #}

    <script>
    var i = 0;
    var global_docproc = ''; 
    function init(){ }    
    attach_validators()

    $('#documento_proceso_fkproceso').selectpicker({
        size: 4,
        liveSearch: true,
        liveSearchPlaceholder: 'Buscar proceso.',
        title: 'Seleccione un proceso.'
    })
    
    $('#documento_proceso_fktipo').selectpicker({
        size: 4,
        liveSearch: true,
        liveSearchPlaceholder: 'Buscar tipo.',
        title: 'Seleccione un tipo.'
    })
    
    $('#documento_proceso_fkdocumento').selectpicker({
        size: 4,
        liveSearch: true,
        liveSearchPlaceholder: 'Buscar documento.',
        title: 'Seleccione un documento.'
    })
    
    $('#documento_proceso_fkformulario').selectpicker({
        size: 4,
        liveSearch: true,
        liveSearchPlaceholder: 'Buscar documento formulario.',
        title: 'Seleccione un documento formulario.'
    })

    $('#documento_proceso_nuevoactualizacion').selectpicker({
        size: 4,
        liveSearch: true,
        liveSearchPlaceholder: 'Buscar opción.',
        title: 'Seleccione una opción.'
    })

    $('#documento_proceso_aprobadorechazado').selectpicker({
        size: 4,
        liveSearch: true,
        liveSearchPlaceholder: 'Buscar opción.',
        title: 'Seleccione una opción.'
    })

    $('#documento_proceso_fkaprobador').selectpicker({
        size: 4,
        liveSearch: true,
        liveSearchPlaceholder: 'Buscar aprobador.',
        title: 'Seleccione un aprobador.'
    })

    $('#aprobadordoc').selectpicker({
        size: 4,
        liveSearch: true,
        liveSearchPlaceholder: 'Buscar aprobador.',
        title: 'Seleccione un aprobador.'
    })
    
    $('#documento').selectpicker({
        size: 4,
        liveSearch: true,
        liveSearchPlaceholder: 'Buscar documento.',
        title: 'Seleccione un documento.'
    })

    $('#file_upload_fkdoc').selectpicker({
        size: 4,
        liveSearch: true,
        liveSearchPlaceholder: 'Buscar documento.',
        title: 'Seleccione un documento.'
    })
    
    $('#new').click(function () {
        $('#documento_proceso_codigonuevo').parent().hide()
        $('#documento_proceso_fkdocumento').parent().parent().hide()
        $('#documento_proceso_fkformulario').parent().parent().hide()
        $('#id_div').hide()
        $('#lnkva').remove();
        $('#documento_proceso_id').hide()
        $("#documento_proceso_id").siblings().hide()
        $('#documento_proceso_aprobadorechazado').parent().parent().hide()
        $('#documento_proceso_fkaprobador').parent().parent().hide()
        $('#documento_proceso_fechaaprobacion').parent().hide()
        $('#documento_proceso_nuevoactualizacion').val('')
        $('#documento_proceso_titulo').val('')
        $('#documento_proceso_versionvigente').val('')
        $('#documento_proceso_fechapublicacion').val('')
        $('#documento_proceso_aprobadorechazado').val('')
        $('#documento_proceso_carpetaoperativa').val('')
        $('#documento_proceso_vinculoarchivo').val('')
        //$('#documento_proceso_fechaaprobacion').val('')
        $('#documento_proceso_fechaaprobacion').val('2000-01-01');

        clean_form()
        verif_inputs()
        $('#id_div').hide()
        $('#insert').show()
        $('#update').hide()
        $('#form').modal('show')

        document.getElementById("documento_proceso_submit").innerHTML= "Guardar"
        $('#documento_proceso_id').val(0)
        $('#form').modal('show')
    })

    $('#apb').click(function () {
        $('#cmb-drv').empty();
        $('#form-rev').modal('show');
    })

    $('#form').submit(function(){
        var botonSubmit = document.getElementById('documento_proceso_submit')
        botonSubmit.innerText = "Cargando espere por favor"
        botonSubmit.disabled = true
    })


    $('#cdc-pass').mousedown(function(){
        $("#ic-dpass").css("color", "lightgrey");
        $("#clave").prop("type", "text");
        $("#ic-dpass").html("visibility");
    });
    
    $("#cdc-pass").mouseup(function(){
        $("#ic-dpass").css("color", "grey");
        $("#clave").prop("type", "password");
        $("#ic-dpass").html("visibility_off");
    });

    $("#documento_proceso_vinculoarchivo").change(function(){
        $("#lnkva").hide();
    });

     $("#documento_proceso_nuevoactualizacion").change(function(){
        var valor = $(this).val();
        if(valor == "NUEVO"){
            $('#documento_proceso_codigonuevo').parent().show();
            $('#documento_proceso_fkdocumento').parent().parent().hide();
            $('#documento_proceso_fkformulario').parent().parent().hide();
        }            
        if(valor == "ACTUALIZACION"){        
            var accion=$('#documento_proceso_fktipo').prev().prev().first().text();
              if( accion.trim() == "Formulario"){            
                $('#documento_proceso_codigonuevo').parent().hide();
                $('#documento_proceso_fkdocumento').parent().parent().hide();
                $('#documento_proceso_fkformulario').parent().parent().show();
            }else{                
                $('#documento_proceso_codigonuevo').parent().hide();
                $('#documento_proceso_fkdocumento').parent().parent().show();
                $('#documento_proceso_fkformulario').parent().parent().hide();
            }
        }
    });

    function attach_edit() {
        $("#documento_proceso_id").attr("readonly", "readonly")
        $('.edit').click(function () {
            obj = JSON.stringify({
                'id': parseInt(JSON.parse($(this).attr('data-json')))
            })
            ajax_call_get("/documentoproceso_editar",{
                object: obj
            },function(response){
                var self = JSON.parse(response)                
                $('#documento_proceso_id').val(self.id)
                $('#documento_proceso_titulo').val(self.titulo)
                $('#documento_proceso_versionvigente').val(self.versionvigente)
                $('#documento_proceso_carpetaoperativa').val(self.carpetaoperativa)
                $('#documento_proceso_fechaaprobacion').val(self.fechaaprobacion)

                $('#documento_proceso_fkproceso').val(self.fkproceso.id)
                $('#documento_proceso_fkproceso').selectpicker('render')

                $('#documento_proceso_fktipo').val(self.fktipo.id)
                $('#documento_proceso_fktipo').selectpicker('render')

                $('#documento_proceso_fkdocumento').val(self.fkdocumento.id)
                $('#documento_proceso_fkdocumento').selectpicker('render')
                
                $('#documento_proceso_fkaprobador').val(self.fkaprobador.id)
                $('#documento_proceso_fkaprobador').selectpicker('render')

                $('#documento_proceso_aprobadorechazado').val(self.aprobadorechazado)
                $('#documento_proceso_aprobadorechazado').selectpicker('render')

                $('#documento_proceso_nuevoactualizacion').val(self.nuevoactualizacion)
                $('#documento_proceso_nuevoactualizacion').selectpicker('render')

                if(self.vinculoarchivo != 'N/A') {
                    $('#lnkva').remove();
                    let urlfile = self.vinculoarchivo;
                    let vfile = urlfile.substring(urlfile.lastIndexOf("/")+1, urlfile.length);
                    $("<a id='lnkva' href='"+urlfile+"'>"+vfile+"</a>").insertAfter("#documento_proceso_vinculoarchivo");
                }
            })
            clean_form()
            verif_inputs()
            $('#id_div').show()
            $('#insert').hide()
            $('#update').show()
            $('#form').modal('show')
            
            document.getElementById("documento_proceso_submit").innerHTML = "Modificar"
            setTimeout(function(){$('#form').modal('show')}, 500);
        })
    }

    function form_revision() {
        $('.rev').click(function () {
            $('#new-rev').show();
            $('#insert-rev').show();
            $('#aprobar-rev').hide();
            $('#aprobadordoc').prop('disabled', false);
            $('#aprobadordoc').val('');
            $('#aprobadordoc').selectpicker('render')
            var table = $('#table_revision').DataTable();
            table.clear().draw();
            obj = JSON.stringify({
                'id': parseInt(JSON.parse($(this).attr('data-json')))
            })
            ajax_call_get("/documentoproceso_editar",{
                object: obj
            },function(response){
                var self = JSON.parse(response)  
                //console.log(self) 
                $('#vdg').remove();
                let urlfile = self.vinculoarchivo;
                let vfile = urlfile.substring(urlfile.lastIndexOf("/") + 1, urlfile.length);
                $('#vinculoarchivodig').hide();
                if(urlfile == '' || urlfile == null) $('#vinculoarchivodig').show();
                else $('<a id="vdg" class="form-control" href="' + urlfile +'">' + vfile + '</a>').insertAfter("#vinculoarchivodig");

                $('#idrev').val(self.id);
                $('#nuevooactualizacion').val(self.nuevoactualizacion);
                if(self.codigonuevo != null) $('#codigodocumento').val(self.codigonuevo);
                else{
                    if(self.fkdocumento != null) $('#codigodocumento').val(self.fkdocumento.codigo);
                    else $('#codigodocumento').val(self.fkformulario.codigo);
                }
                $('#codigoproceso').val(self.fkproceso.codproceso);
                $('#tipodocumento').val(self.fktipo.nombre);
                $('#titulodoc').val(self.titulo);
                $('#versiondoc').val(self.versionvigente);
                $('#vinculoarchivodig').val(self.vinculoarchivo);
                $('#carpetaop').val(self.carpetaoperativa);
                if(self.aprobadorechazado == null) $('#aproborec').val('');
                else{
                    $('#aproborec').val(self.aprobadorechazado);
                    $('#new-rev').hide();
                    $('#insert-rev').hide();
                }
                if(self.fechaaprobacion == null) $('#faprobacion').val('');
                else $('#faprobacion').val(self.fechaaprobacion);
                if(self.fkaprobador != null){
                    $('#aprobadordoc').val(self.fkaprobador.id)
                    $('#aprobadordoc').selectpicker('render')
                }

                $('#form-revision').modal('show')
            })
        })
    }

    function vista_revision() {
        $('.view').click(function () {
            $('#new-rev').hide();
            $('#insert-rev').hide();
            $('#aprobar-rev').show();
            var table = $('#table_revision').DataTable();
            table.clear().draw();
            obj = JSON.stringify({
                'id': parseInt(JSON.parse($(this).attr('data-json')))
            })
            //console.log(obj)
            ajax_call_get("/documentoproceso_editar",{
                object: obj
            },function(response){
                var self = JSON.parse(response) 
                ajax_call_get("/docprocrevision_editar",{
                    object: obj
                },function(response){
                    var datarev = JSON.parse(response)
                    /*console.log('dproc'); 
                    console.log(self); 
                    console.log('drev');  
                    console.log(datarev);*/
                    global_docproc = self;

                    $('#vdg').remove();
                    let urlfile = self.vinculoarchivo;
                    let vfile = urlfile.substring(urlfile.lastIndexOf("/") + 1, urlfile.length);
                    $('#vinculoarchivodig').hide();
                    if(urlfile == '' || urlfile == null) $('#vinculoarchivodig').show();
                    else $('<a id="vdg" class="form-control" href="' + urlfile +'">' + vfile + '</a>').insertAfter("#vinculoarchivodig");
                    
                    $('#idrev').val(self.id);
                    $('#nuevooactualizacion').val(self.nuevoactualizacion);
                    if(self.codigonuevo != null) $('#codigodocumento').val(self.codigonuevo);
                    else{
                        if(self.fkdocumento != null) $('#codigodocumento').val(self.fkdocumento.codigo);
                        else $('#codigodocumento').val(self.fkformulario.codigo);
                    }
                    $('#codigoproceso').val(self.fkproceso.codproceso);
                    $('#tipodocumento').val(self.fktipo.nombre);
                    $('#titulodoc').val(self.titulo);
                    $('#versiondoc').val(self.versionvigente);
                    $('#vinculoarchivodig').val(self.vinculoarchivo);
                    $('#carpetaop').val(self.carpetaoperativa);
                    if(self.aprobadorechazado == null) $('#aproborec').val('');
                    else{
                        $('#aproborec').val(self.aprobadorechazado);
                        $('#aprobar-rev').hide();
                    }
                    if(self.fechaaprobacion == null) $('#faprobacion').val('');
                    else $('#faprobacion').val(self.fechaaprobacion);
                    if(self.fkaprobador != null){
                        $('#aprobadordoc').val(self.fkaprobador.id);
                        $('#aprobadordoc').selectpicker('render');
                    }
                    $('#aprobadordoc').prop('disabled', true);

                    var table = $('#table_revision').DataTable();
                    table.destroy();

                    for(var i=0;i<datarev.length;i++){
                        table.row.add([
                            $('#idrev').val(),
                            datarev[i].fecha,
                            datarev[i].fkresponsable.nombre+' '+datarev[i].fkresponsable.apellido,
                            datarev[i].estadodoc,
                            datarev[i].firma
                        ]).draw(false);
                    }
                    if(datarev.length == 0) $('#aprobar-rev').hide();
                    $('#form-revision').modal('show')
                })
            })
        })
    }

    $('#new-rev').click(function () {
        var table = $('#table_revision').DataTable();
        i++; //table.clear().draw();
        var combo_derivar = '<td class="input-field">'+
            '<select id="aprobador'+i+'" name="aprobadores">';
        {% for tr in aprobador %}
            combo_derivar += "<option value='"+"{{tr.id}}"+"'>"+"{{tr.nombre ~ ' ' ~ tr.apellido}}"+"</option>";
        {% endfor %}
        combo_derivar += '</select>'+
                    '</td>';

        table.row.add([
            $('#idrev').val(),
            "",
            combo_derivar,
            "",
            ""
        ]).draw(false);
        
        $('#aprobador'+i).selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar aprobador.',
            title: 'Seleccione un aprobador.'
        })      
    })     

    $('#insert-rev').click(function () {
    
     var botonGuardar = document.getElementById('insert-rev')
     botonGuardar.innerText = "Cargando datos espere por favor..."
     botonGuardar.disabled = true
        
        var selectAprobadorDoc = document.getElementById('aprobadordoc')
        if (selectAprobadorDoc.value == ""){
            swal(
                'Error',
                'Seleccione un aprobador',
                     'warning'
            )
            botonGuardar.innerText = "Guardar"
            botonGuardar.disabled = false
        }else{
            var list = [];
            $("select[name=aprobadores]").each(function (index) { 
            let i = $(this).val(); 
            list.push(i);
            });
            if (list.length == 0){
                 swal(
                'Error',
                'Seleccione al menos un derivado',
                'warning'
                )
                botonGuardar.innerText = "Guardar"
                botonGuardar.disabled = false
            }else{
                objeto = JSON.stringify({
                    'id': $('#idrev').val(),
                    'fkaprobador': $('#aprobadordoc').val(),
                    'derivados': list
                    
                })
                //console.log(objeto);
                //botonGuardar.innerText = "Cargando datos espere por favor..."
                //botonGuardar.disabled = true
                
                  if(botonGuardar.disabled = true)
                {
                    ajax_call_validation( "/revision_insertar" , {object: objeto}, null, main_route)
                }
            }
        }
    })

    reload_form()

  
    $('#formfile').submit(function(){
        var botonGuardar = document.getElementById('documento_file_submit')
                botonGuardar.innerText = "Cargando datos espere por favor..."
                botonGuardar.disabled = true  
    })

    $('#filepdf').submit(function(){
        var botonGuardar = document.getElementById('file_upload_submit')
                botonGuardar.innerText = "Cargando datos espere por favor..."
                botonGuardar.disabled = true  
    })

    $('#confirm').click(function () {
        objeto = JSON.stringify({
            'password': $('#clave').val()
        });
        $.ajax({
            method: "POST",
            url: "/valid_action",
            data: {object : objeto},
            async: false,
            beforeSend: function () {
                $("<div id='spn-vld' style='text-align: center; margin:auto;width:100%; height:60px;'>"+
                    "<div style='margin:auto;display:block; height:55px;'>"+
                        "<img src='resources/images/loaders.gif' style='height:100%; width:auto;'/>"+
                    "</div>"+
                "</div>").insertAfter("#cnfdc_form_body");
            },
            success: function (data, textStatus) {
                $("#spn-vld").fadeOut(800);
            }
        }).done(function (response) {
            console.log(response)
            let message = "";
            if(response == "vacio"){ 
                console.log('into empty')
                message = 'Por favor ingrese su password.'; 
                document.getElementById('msgv').innerHTML = message;
                //$("#msgv").html(message);
                $("#msgv").show();
                setTimeout(function(){ $("#msgv").fadeOut() }, 2000);
            }
            if(response == "error"){ 
                console.log('into error')
                message = 'Datos invalidos, intente de nuevo.';
                document.getElementById('msgv').innerHTML = message;
                //$("#msgv").html(message);
                $("#msgv").show();
                setTimeout(function(){ 
                        $("#msgv").fadeOut();
                        $('#clave').val(''); 
                    }
                , 3000);
            }
            if(response == "exitoso"){
                if(derivar){ 
                    objeto = JSON.stringify({
                        'id': idrev,
                        'responsable': $('#dresponsable').val(),
                        'firma': 'Firmado',
                        'estadodoc': 'DERIVADO'
                    });

                    var labelid = document.querySelector('label[for="documento_file_id"]')
                    labelid.hidden = true
                    var labelresponsable = document.querySelector('label[for="documento_file_responsable"]')
                    labelresponsable.hidden = true
                    var labelfirma = document.querySelector('label[for="documento_file_firma"]')
                    labelfirma.hidden = true
                    var labelestadodoc = document.querySelector('label[for="documento_file_estadodoc"]')
                    labelestadodoc.hidden = true

                    $('#documento_file_id').hide()
                    $('#documento_file_firma').hide()
                    $('#documento_file_responsable').hide()
                    $('#documento_file_estadodoc').hide()
                    
                    $('#documento_file_id').val(idrev)
                    $('#documento_file_responsable').val($('#dresponsable').val())
                    $('#documento_file_firma').val('Firmado')
                    $('#documento_file_estadodoc').val('DERIVADO')

                    $('#formfile').modal('show');

                    //ajax_call_validation("/docprocesorev_derivar", {object: objeto}, null, main_route)
                    
                }
                if(aprobar){
                    objeto = JSON.stringify({
                        'id': idrev,
                        'firma': 'Firmado',
                        'estadodoc': 'APROBADO'
                    });

                    var labelid = document.querySelector('label[for="documento_file_id"]')
                    labelid.hidden = true
                    var labelresponsable = document.querySelector('label[for="documento_file_responsable"]')
                    labelresponsable.hidden = true
                    var labelfirma = document.querySelector('label[for="documento_file_firma"]')
                    labelfirma.hidden = true
                    var labelestadodoc = document.querySelector('label[for="documento_file_estadodoc"]')
                    labelestadodoc.hidden = true

                    $('#documento_file_id').hide()
                    $('#documento_file_firma').hide()
                    $('#documento_file_estadodoc').hide()

                    $('#documento_file_id').val(idrev)
                    $('#documento_file_firma').val('Firmado')
                    $('#documento_file_estadodoc').val('APROBADO')
                    
                    $('#formfile').modal('show');
                   
                    //ajax_call_validation("/docprocesorev_aprorec", {object: objeto}, null, main_route)
                }
                if(rechazar){ 
                    objeto = JSON.stringify({
                        'id': idrev,
                        'firma': 'Firmado',
                        'estadodoc': 'RECHAZADO'
                    });
                    //ajax_call_validation("/docprocesorev_aprorec", {object: objeto}, null, main_route)

                    var labelid = document.querySelector('label[for="documento_file_id"]')
                    labelid.hidden = true
                    var labelresponsable = document.querySelector('label[for="documento_file_responsable"]')
                    labelresponsable.hidden = true
                    var labelfirma = document.querySelector('label[for="documento_file_firma"]')
                    labelfirma.hidden = true
                    var labelestadodoc = document.querySelector('label[for="documento_file_estadodoc"]')
                    labelestadodoc.hidden = true

                    $('#documento_file_id').hide()
                    $('#documento_file_firma').hide()
                    $('#documento_file_responsable').hide()
                    $('#documento_file_estadodoc').hide()
                    
                    $('#documento_file_id').val(idrev)
                    $('#documento_file_firma').val('Firmado')
                    $('#documento_file_estadodoc').val('RECHAZADO')

                    $('#formfile').modal('show');
                }
                $('#form-valid').hide();
                $('#form-rev').hide();
                $('#form-valid').modal('hide');
                $('#form-rev').modal('hide');
            }
        });
    })

       

    $('#aprobar-rev').click(function () {
        console.log(global_docproc)
        if(global_docproc.fkdocumento != null) doc = global_docproc.fkdocumento.id;
        else doc = '';
        if(global_docproc.fkformulario != null) form = global_docproc.fkformulario.id;
        else form = '';
        //console.log($('#tipodocumento').val())
        if($('#tipodocumento').val() == 'Formulario'){
            var labelvinculodiagrama = document.querySelector('label[for="file_upload_vinculodiagrama"]')
            labelvinculodiagrama.hidden = true

            $('#file_upload_vinculodiagrama').hide()
            $('#file_upload_fkdoc').parent().parent().show()
        }else{
            var labelvinculodescarga = document.querySelector('label[for="file_upload_vinculodescarga"]')
            labelvinculodescarga.hidden = true
            var labelfkdoc = document.querySelector('label[for="file_upload_fkdoc"]')
            labelfkdoc.hidden = true

            $('#file_upload_vinculodescarga').hide()
            $('#file_upload_fkdoc').hide()
            $('#file_upload_fkdoc').parent().parent().hide()
        }
        var labelid = document.querySelector('label[for="file_upload_id"]')
        labelid.hidden = true
        var labelcodigo = document.querySelector('label[for="file_upload_codigo"]')
        labelcodigo.hidden = true
        var labelficha = document.querySelector('label[for="file_upload_ficha"]')
        labelficha.hidden = true
        var labeltipo = document.querySelector('label[for="file_upload_tipo"]')
        labeltipo.hidden = true
        var labeltitulo = document.querySelector('label[for="file_upload_titulo"]')
        labeltitulo.hidden = true
        var labelversion = document.querySelector('label[for="file_upload_version"]')
        labelversion.hidden = true
        var labelaprobador = document.querySelector('label[for="file_upload_aprobador"]')
        labelaprobador.hidden = true
        var labelnuevoactualizacion = document.querySelector('label[for="file_upload_nuevoactualizacion"]')
        labelnuevoactualizacion.hidden = true
        var labelfechapublicacion = document.querySelector('label[for="file_upload_fechapublicacion"]')
        labelfechapublicacion.hidden = true
        var labelcarpetaoperativa = document.querySelector('label[for="file_upload_carpetaoperativa"]')
        labelcarpetaoperativa.hidden = true
        var labeldocumento = document.querySelector('label[for="file_upload_documento"]')
        labeldocumento.hidden = true
        var labelformulario = document.querySelector('label[for="file_upload_formulario"]')
        labelformulario.hidden = true

        $('#file_upload_id').hide()
        $('#file_upload_codigo').hide()
        $('#file_upload_ficha').hide()
        $('#file_upload_tipo').hide()
        $('#file_upload_titulo').hide()
        $('#file_upload_version').hide()
        $('#file_upload_aprobador').hide()
        $('#file_upload_nuevoactualizacion').hide()
        $('#file_upload_fechapublicacion').hide()
        $('#file_upload_carpetaoperativa').hide()
        $('#file_upload_documento').hide()
        $('#file_upload_formulario').hide()
        
        $('#file_upload_id').val(global_docproc.id)
        $('#file_upload_codigo').val(global_docproc.codigonuevo)
        $('#file_upload_ficha').val(global_docproc.fkproceso.id)
        $('#file_upload_tipo').val(global_docproc.fktipo.id)
        $('#file_upload_titulo').val(global_docproc.titulo)
        $('#file_upload_version').val(global_docproc.versionvigente)
        $('#file_upload_aprobador').val(global_docproc.fkaprobador.id)
        $('#file_upload_nuevoactualizacion').val(global_docproc.nuevoactualizacion)
        $('#file_upload_fechapublicacion').val('')
        $('#file_upload_carpetaoperativa').val(global_docproc.carpetaoperativa)
        $('#file_upload_documento').val(doc)
        $('#file_upload_formulario').val(form)

        $('#filepdf').modal('show');
    })
    

    function derivar_doc() {
        $('.drdoc').click(function () {
            var id = $(this).attr('data-json');
            obj = JSON.stringify({
                'id': parseInt(JSON.parse(id))
            })
            //console.log(obj); 
            if($('#cmb-drv').html() == ''){
                ajax_call_get("/documentoproceso_userderiv", {
                    object: obj
                }, function(response){
                    var self = JSON.parse(response)
                    var comboderiv = '<label style="color: grey">Responsable</label>'+
                        '<select id="dresponsable" class="form-control" required="required" autofocus>'+
                            '<option value="'+self.id+'">'+self.nombre+' '+self.apellido+'</option>'+
                        '</select>';
                    $('#cmb-drv').html(comboderiv);

                    $('#dresponsable').selectpicker({
                        size: 4,
                        liveSearch: true,
                        liveSearchPlaceholder: 'Buscar responsable.',
                        title: 'Seleccione un responsable.'
                    })
                })
            }else{
                derivar = true;
                aprobar = false;
                rechazar = false;
                idrev = parseInt(JSON.parse(id));
                vrep = $('#dresponsable').val();
                //console.log(vrep);
                if(vrep == ""){
                    swal(
                        'Derivar Documento',
                        'Por favor, seleccione un responsable del combo.',
                        'info'
                    )
                }
                else $('#form-valid').modal('show');
            }
        });
    }

    function aprobar_doc() {
        $('.apdoc').click(function () {
            derivar = false;
            aprobar = true;
            rechazar = false;
            idrev = parseInt(JSON.parse($(this).attr('data-json')))
            $('#msgv').modal('hide')
            $('#form-valid').modal('show')
        });
    }

    function rechazar_doc() {
        $('.rcdoc').click(function () {
            derivar = false;
            aprobar = false;
            rechazar = true;
            idrev = parseInt(JSON.parse($(this).attr('data-json')))
             
            $('#form-valid').modal('show')
        });
    }

    $('#btn-rgaprob').click(function () {
        if(global_docproc.fkdocumento != null) doc = global_docproc.fkdocumento.id;
        else doc = '';
        if(global_docproc.fkformulario != null) form = global_docproc.fkformulario.id;
        else form = '';
        objeto = JSON.stringify({
            'id': global_docproc.id,
            'codigo': global_docproc.codigonuevo,
            'ficha': global_docproc.fkproceso.id,
            'tipo': global_docproc.fktipo.id,
            'titulo': global_docproc.titulo,
            'version': global_docproc.versionvigente,
            'aprobador': global_docproc.fkaprobador.id,
            'vinculoarchivo':global_docproc.vinculoarchivo,
            'nuevoactualizacion': global_docproc.nuevoactualizacion,
            'fechapublicacion': null,
            'carpetaoperativa': global_docproc.carpetaoperativa,
            'documento': doc,
            'formulario': form,
            
            'vinculodiagrama': $('#vinculodiagf').val(),
            'fkdoc': $('#documento').val()
        })
        console.log(objeto);
        //ajax_call_validation( "/documentoproceso_insertaraprob" , {object: objeto}, null, main_route)

        var labelid = document.querySelector('label[for="file_upload_id"]')
        labelid.hidden = true
        var labelcodigo = document.querySelector('label[for="file_upload_codigo"]')
        labelcodigo.hidden = true
        var labelficha = document.querySelector('label[for="file_upload_ficha"]')
        labelficha.hidden = true
        var labeltipo = document.querySelector('label[for="file_upload_tipo"]')
        labeltipo.hidden = true
        var labeltitulo = document.querySelector('label[for="file_upload_titulo"]')
        labeltitulo.hidden = true
        var labelversion = document.querySelector('label[for="file_upload_version"]')
        labelversion.hidden = true
        var labelaprobador = document.querySelector('label[for="file_upload_aprobador"]')
        labelaprobador.hidden = true
        var labelnuevoactualizacion = document.querySelector('label[for="file_upload_nuevoactualizacion"]')
        labelnuevoactualizacion.hidden = true
        var labelfechapublicacion = document.querySelector('label[for="file_upload_fechapublicacion"]')
        labelfechapublicacion.hidden = true
        var labelcarpetaoperativa = document.querySelector('label[for="file_upload_carpetaoperativa"]')
        labelcarpetaoperativa.hidden = true
        var labeldocumento = document.querySelector('label[for="file_upload_documento"]')
        labeldocumento.hidden = true
        var labelformulario = document.querySelector('label[for="file_upload_formulario"]')
        labelformulario.hidden = true
        var labelvinculodiagrama = document.querySelector('label[for="file_upload_vinculodiagrama"]')
        labelvinculodiagrama.hidden = true
        var labelfkdoc = document.querySelector('label[for="file_upload_fkdoc"]')
        labelfkdoc.hidden = true

        $('#file_upload_id').hide()
        $('#file_upload_codigo').hide()
        $('#file_upload_ficha').hide()
        $('#file_upload_tipo').hide()
        $('#file_upload_titulo').hide()
        $('#file_upload_version').hide()
        $('#file_upload_aprobador').hide()
        $('#file_upload_nuevoactualizacion').hide()
        $('#file_upload_fechapublicacion').hide()
        $('#file_upload_carpetaoperativa').hide()
        $('#file_upload_documento').hide()
        $('#file_upload_formulario').hide()
        $('#file_upload_vinculodiagrama').hide()
        $('#file_upload_fkdoc').hide()
        
        $('#file_upload_id').val(global_docproc.id)
        $('#file_upload_codigo').val(global_docproc.codigonuevo)
        $('#file_upload_ficha').val(global_docproc.fkproceso.id)
        $('#file_upload_tipo').val(global_docproc.fktipo.id)
        $('#file_upload_titulo').val(global_docproc.titulo)
        $('#file_upload_version').val(global_docproc.versionvigente)
        $('#file_upload_aprobador').val(global_docproc.fkaprobador.id)
        $('#file_upload_nuevoactualizacion').val(global_docproc.nuevoactualizacion)
        $('#file_upload_fechapublicacion').val('')
        $('#file_upload_carpetaoperativa').val(global_docproc.carpetaoperativa)
        $('#file_upload_documento').val(doc)
        $('#file_upload_formulario').val(form)
        $('#file_upload_vinculodiagrama').val($('#vinculodiagf').val())
        $('#file_upload_fkdoc').val($('#documento').val())

        $('#filepdf').modal('show');
    })
    </script>
    <script>
        attach_edit()
        form_revision()
        derivar_doc()
        aprobar_doc()
        rechazar_doc()
        vista_revision()

        let message= ''
        function docproc_previous(id) { 
            obj = JSON.stringify({
                'id': parseInt(JSON.parse(id))
            });
            ajax_call_get("/docproc_prev",{
                object: obj
            },function(response){
                message = response;
            });
        }
        
        $('.delete').click(function () {
            id = parseInt(JSON.parse($(this).attr('data-json')))
            docproc_previous(id)
            setTimeout(function(){
                let quest = message + " ¿Está seguro en dar de baja el documento?" 
                enabled = false
                swal({
                    title: quest,
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#004c99",
                    cancelButtonColor: "#F44336",
                    confirmButtonText: "Aceptar",
                    cancelButtonText: "Cancelar"
                }).then(function () {
                    ajax_call("/documentoproceso_eliminar", { 
                        id, enabled,_xsrf: getCookie("_xsrf")}, 
                        null, 
                        function () {
                            setTimeout(function(){ window.location=main_route }, 2000);
                    })
                })
                }, 1000
            )
        })
    </script>
    <script>
        function format (d) { 
            let urlfile = d[8];
            let vfile = urlfile.substring(urlfile.lastIndexOf("/") + 1, urlfile.length);
            html = '<div class="card" style="width: 100%; background-color: rgba(0, 76, 153, .15)">'+
            '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';

            if(urlfile != 'N/A'){
                html += '<tr>'+
                    '<td class="bold">Vínculo archivo:</td>'+
                    '<td><a href="' + urlfile +'">' + vfile + '</a></td>'+
                '</tr>';
            }else{
                html += '<tr>'+
                    '<td class="bold">Vínculo archivo:</td>'+
                    '<td>' + urlfile + '</td>'+
                '</tr>';
            } 
            
            html += '<tr>'+
                    '<td class="bold">Carpeta operativa:</td>'+
                    '<td>'+d[9]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Aprobado/Rechazado:</td>'+
                    '<td>'+d[10]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Aprobado por:</td>'+
                    '<td>'+d[11]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Fecha de aprobación:</td>'+
                    '<td>'+d[12]+'</td>'+
                '</tr>'+
            '</table></div>';
            return html;
        }
    
        $(document).ready(function() {
            table = $('#data_tabletr').DataTable();
            $('#data_tabletr tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);
                
                let idet = 'dp'+row.data()[1];
                if ( row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                    $("#"+idet).attr('class', 'fa fa-plus-square cl-teal');
                    $("#"+idet).attr('title', 'Mostrar más');
                }
                else {
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                    $("#"+idet).attr('class', 'fa fa-minus-square cl-red');
                    $("#"+idet).attr('title', 'Ver menos');
                }
            });
        });
    </script>
{% endblock %}