{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
    .accion{ cursor:pointer }
</style>
<script src="resources/js/functions.js"></script>

<script>
    main_route = '/auditoriatipo'

    function default_values() {
        page_nr = 1
        max_entries = 10
        like_search = ""
        order_by = ""
        ascendant = true
    }
    default_values()
</script>
{% endblock %}
{% block body %}

{{ include('auditoriatipo/form.html.twig') }}

<div class="header bg-indigo"><h2>TIPO DE AUDITORÍA</h2></div>
<div class="body">
    <div class="row clearfix">
        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
        {% if 'auditoriatipo_insertar' in permisos %}
            <button id="new" type="button" class="btn bg-indigo waves-effect" title="Nuevo">
                <i class="material-icons">add</i>
            </button>
        {% endif %}
        </div>
    </div>
    {% if 'home_auditoriatipo' in permisos and objects %}
    <div class="row">
        <div class="body table-responsive">
            <table id="data_table" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                <thead>
                <tr>
                    <th class="order_by_th" data-name="names">Nombres </th>
                    <th class="order_by_th" data-name="names">Paterno </th>
                    <th class="order_by_th" data-name="names">Materno </th>
                    <th class="order_by_th" data-name="phone">Apellidos y Nombres </th>
                    <th class="order_by_th" data-name="phone">Auditor SIG </th>
                    <th class="order_by_th" data-name="phone">Profesión </th>
                    <th class="actions_header">Acciones </th>
                </tr>
                </thead>
                <tbody id="table_content">
                {{ include('auditoriatipo/table.html.twig') }}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
    {% endif %}
</div>
{%endblock%}
{% block javascripts %}
<script src="resources/plugins/momentjs/moment.js"></script>
<script src="resources/plugins/momentjs/locale/es.js"></script>
<script src="resources/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

<script>
    attach_validators()

    $('#auditorsig').selectpicker({
        size: 4,
        liveSearch: true,
        liveSearchPlaceholder: 'Buscar una opción.',
        title: 'Seleccione una opción.'
    })

    $('#vigente').selectpicker({
        size: 4,
        liveSearch: true,
        liveSearchPlaceholder: 'Buscar una opción.',
        title: 'Seleccione una opción.'
    })

    $('#new').click(function () {
        $('#item').val('')
        $('#nombres').val('')
        $('#paterno').val('')
        $('#materno').val('')
        $('#apellidosnombres').val('')
        $('#profesion').val('')

        clean_form()
        verif_inputs()
        $('#id_div').hide()
        $('#insert').show()
        $('#update').hide()
        $('#form').modal('show')
    })
    
    $('#insert').click(function () {
        objeto = JSON.stringify({
            'item': $('#item').val(),
            'nombres': $('#nombres').val(),
            'paterno': $('#paterno').val(),
            'materno': $('#materno').val(),
            'apellidosnombres': $('#apellidosnombres').val(),
            'auditorsig': $('#auditorsig').val(),
            'profesion': $('#profesion').val(),
            'vigente': $('#vigente').val()
        })
        ajax_call("/auditoriatipo_insertar", {object: objeto}, null, function () {setTimeout(function(){window.location=main_route}, 2000);})
        $('#form').modal('hide')
    })

    function attach_edit() {
        $('.edit').click(function () {
            obj = JSON.stringify({
            'id': parseInt(JSON.parse($(this).attr('data-json')))
            });
            ajax_call_get("/auditoriatipo_editar",{
                object: obj
            },function(response){
                var self = JSON.parse(response);
                $('#id').val(self.id)
                $('#item').val(self.item)
                $('#nombres').val(self.nombres)
                $('#paterno').val(self.paterno)
                $('#materno').val(self.materno)
                $('#apellidosnombres').val(self.apellidosnombres)
                $('#auditorsig').val(self.auditorsig)
                $('#auditorsig').selectpicker('render')

                $('#profesion').val(self.profesion)
                $('#vigente').val(self.vigente)
                $('#vigente').selectpicker('render')

                clean_form()
                verif_inputs()
                $('#id_div').show()
                $('#insert').hide()
                $('#update').show()
                $('#form').modal('show')
            })
        })
    }

    $('#update').click(function () {
        objeto = JSON.stringify({
            'id': parseInt(JSON.parse($('#id').val())),
            'item': $('#item').val(),
            'nombres': $('#nombres').val(),
            'paterno': $('#paterno').val(),
            'materno': $('#materno').val(),
            'apellidosnombres': $('#apellidosnombres').val(),
            'auditorsig': $('#auditorsig').val(),
            'profesion': $('#profesion').val(),
            'vigente': $('#vigente').val()
        })
        ajax_call("/auditoriatipo_actualizar", {object: objeto}, null, function () {setTimeout(function(){window.location=main_route}, 2000);})
        $('#form').modal('hide')
    })
    reload_form()
</script>
<script>

    attach_edit()

    let message= ''
    function tipoaud_prev(id) {
        console.log('function')
        console.log(id)
        obj = JSON.stringify({
            'id': parseInt(JSON.parse(id))
        });
        ajax_call_get("/tipoaud_prev",{
            object: obj
        },function(response){
            message = response;
        });
    }

    $('.delete').click(function () { alert('new')

        id = parseInt(JSON.parse($(this).attr('data-json')))
        console.log('event')
        console.log(id)
        tipoaud_prev(id)
        setTimeout(function(){
            console.log(message)
            let quest = message + " ¿Desea dar de baja el tipo de auditoría?" 
            enabled = false
            swal({
                title: quest,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#004c99",
                cancelButtonColor: "#F44336",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar"
            }).then(function () {
                /*ajax_call("/auditoriatipo_eliminar", { 
                    id, enabled,_xsrf: getCookie("_xsrf")}, 
                    null, 
                    function () {
                        setTimeout(function(){ window.location=main_route }, 2000);
                })*/
            })
            }, 1000
        )
    })

</script>

{% endblock %}