<div id="form" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h3 id="cliente_tittle" class="modal-title">Ficha de Procesos</h3>
                <h4 id="cliente_enable" class=""></h4>
            </div>
            <div class="modal-body">
                <div id="cliente_form_body" class="box-body">
                    <div id="id_div" class="form-group">
                        <div class="form-line">
                            <input id="id" type="text" class="form-control" disabled="disabled">
                            <label class="form-label">Ficha de Proceso ID</label>
                        </div>
                    </div>
                    <label>Tipo de Área, Gerencia y Sector</label>
                    <select id="fkareagerenciasector" class="form-control">
                        {% for t in tipo %}
                            <option value="{{ t.id }}">{{ t.fkarea.nombre ~' | '~ t.fkgerencia.nombre ~' | '~  t.fksector.nombre }}</option>
                        {% endfor %}
                    </select>
                    </br>
                    </br>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="codproceso" name="codproceso" type="text" class="form-control text">
                            <label class="form-label">Cod. Proceso</label>
                        </div>
                    </div>
                    <br>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="nombre" name="nombre" type="text" class="form-control text">
                            <label class="form-label">Nombre</label>
                        </div>
                    </div>

                    <div class="form-group form-float">
                        <label class="form-label">Objetivo</label>
                        <textarea id="objetivo" name="objetivo" class="materialize-textarea"></textarea>
                    </div>
                    <div class="form-group form-float">
                        <label>Vigente</label>
                        <select id="vigente" class="form-control">
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                        </br>
                        </br>

                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="version" name="version" type="text" class="form-control text">
                            <label class="form-label">Versión</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label class="form-label">Fecha de emisión</label><br>
                            <input id="fechaemision" name="fechaemision" type="date"
                                   class="form-control text datepicker">
                            {#<input id="fechaemision" name="fechaemision" type="date">#}
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <label class="form-label">Entradas requeridas</label>
                        <textarea id="entradasrequeridas" name="entradasrequeridas"
                                  class="materialize-textarea"></textarea>
                    </div>
                    <div class="form-group form-float">
                        <label class="form-label">Salidas esperadas</label>
                        <textarea id="salidasesperadas" name="salidasesperadas" class="materialize-textarea"></textarea>
                    </div>
                    <div class="form-group form-float">
                        <label class="form-label" for="recursosnecesarios">Recursos necesarios</label>
                        <textarea id="recursosnecesarios" name="recursosnecesarios"
                                  class="materialize-textarea"></textarea>
                        {#<input id="recursosnecesarios" name="recursosnecesarios" type="text" class="form-control text">#}
                    </div>
                     <div class="form-group form-float">
                        <label class="form-label" for="recursosnecesarios">Requisitos Legales</label>
                        <textarea id="reqlegales" name="reqlegales"
                                  class="materialize-textarea"></textarea>
                        {#<input id="reqlegales" name="reqlegales" type="text" class="form-control text">#}
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="insert" type="button" class="btn bg-indigo waves-effect">Guardar<i
                                class="material-icons">save</i></button>
                    <button id="update" type="button" class="btn bg-indigo waves-effect">Modificar<i
                                class="material-icons">save</i></button>
                </div>
            </div>
        </div>
    </div>
</div>