<div id="form-acn" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-acn" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="accion_tittle" class="modal-title">Acción</h3>
                <h4 id="accion_enable" class=""></h4>
            </div>
            <div class="modal-body">
                <div id="accion_form_body" class="box-body">
                    <div id="idacn_div" class="form-group">
                        <div class="form-line">
                            <input id="idacn" type="text" class="form-control" disabled="disabled">
                            <label class="form-label">Acción ID</label>
                        </div>
                    </div>

                    <div class="row clearfix m-tb-own">
                        <div class="col-sm-12">
                            <label for="fkhallazgo">Hallazgo</label>
                                <select id="fkhallazgo" class="form-control show-tick">
                                {% for t in hallazgo %}
                                    <option value="{{t.id}}">{{t.titulo}}</option>
                                {% endfor %}
                                </select>
                                </br>
                        </div>
                    </div>

                    <div class="row clearfix m-tb-own">
                        <div class="col-sm-12">
                            <label for="fktipoacn">Tipo</label>
                                <select id="fktipoacn" class="form-control show-tick">
                                {% if tipoacn %}
                                    {% for t in tipoacn %}
                                        <option value="{{t.id}}">{{t.nombre}}</option>
                                    {% endfor %}
                                {% endif %}
                                </select>
                                </br>
                        </div>
                    </div>

                    <div class="row clearfix m-tb-own">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="descripcionacn">Descripción</label>
                                <textarea class="form-control txta-own item-acn" rows="3" id="descripcionacn" name="descripcionacn"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix m-tb-own">
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="ordinalacn" name="ordinalacn" type="text" class="form-control text item-acn">
                                    <label class="form-label">Ordinal</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>Estado</label>
                            <select id="estadoaccion" class="form-control show-tick">
                                <option value="Pendiente">Pendiente</option>
                                <option value="Implementada">Implementada</option>
                            </select>
                            </br>
                        </div>
                    </div>

                    <div class="row clearfix m-tb-own">
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="responsableregistro" name="responsableregistro" type="text" class="form-control item-acn">
                                    <label class="form-label">Responsable de registro</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label class="form-label">Fecha de registro</label><br>
                                    <input id="fecharegistroacn" name="fecharegistroacn" type="date" class="form-control item-acn">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix m-tb-own">
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="responsableimplementacion" name="responsableimplementacion" type="text" class="form-control text item-acn">
                                    <label class="form-label">Responsable de implementación</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label class="form-label">Fecha de implementación</label><br>
                                    <input id="fechaimplementacion" name="fechaimplementacion" type="date" class="form-control item-acn">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="spn-acn" class="loader-wrapper" style="display: none">
                    <div class="loader loader-own">
                        <div class="preloader preloader-own">
                            <div class="spinner-layer pl-indigo">
                                <div class="circle-clipper left"><div class="circle"></div></div>
                                <div class="circle-clipper right"><div class="circle"></div></div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center inf-own">Guardando...</p>
                </div>

                <div class="modal-footer">
                    <button id="insert-acn" type="button" class="btn bg-indigo waves-effect hover-own">Guardar <i class="material-icons">save</i></button>
                    <button id="update-acn" type="button" class="btn bg-indigo waves-effect hover-own">Modificar <i class="material-icons">refresh</i></button>
                </div>
            </div>
        </div>
    </div>
</div>