{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .accion{ cursor:pointer }
    </style>
{% endblock %}

{% block body %}
    {{ include('areagerenciasector/form.html.twig') }}

    <div class="header bg-indigo"><h2>Área Gerencia Sector</h2></div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
            {% if 'areagerenciasector_insertar' in permisos %}
                <button id="new" type="button" class="btn bg-indigo waves-effect" title="Nuevo">
                    <i class="material-icons">add</i>
                </button>
            {% endif %}
            </div>
        </div>
        {% if 'home_areagerenciasector' in permisos and objects %}
            <div class="row">
                <div class="body table-responsive">
                    <table id="data_tabletr" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                        <tr>
                            <th class="order_by_th" data-name="names">Área </th>
                            <th class="order_by_th" data-name="phone">Gerencia </th>
                            <th class="order_by_th" data-name="phone">Sector </th>
                            <th class="actions_header">Acciones </th>
                        </tr>
                        </thead>
                        <tbody id="table_content">
                        {{ include('areagerenciasector/table.html.twig') }}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="resources/js/transporte.js"></script>
    <script src="resources/js/functions.js"></script>

    <script>
        main_route = '/areagerenciasector'

        function default_values() {
            page_nr = 1
            max_entries = 10
            like_search = ""
            order_by = ""
            ascendant = true
        }
        default_values()
    </script>

    <script>
        $('#gerencia').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar gerencia.',
            title: 'Seleccione una gerencia.'
        })

        $('#area').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar área.',
            title: 'Seleccione un área.'
        })

        $('#sector').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar sector.',
            title: 'Seleccione un sector.'
        })
        
        $('#new').click(function () {
            $('#responsable').val('')

            clean_form()
            verif_inputs()
            $('#id_div').hide()
            $('#insert').show()
            $('#update').hide()
            $('#form').modal('show')
        })

        $('#insert').click(function () {
            objeto = JSON.stringify({
                'responsable': $('#responsable').val(),
                'vigente': $('#vigente').val(),
                'gerencia': $('#gerencia').val(),
                'area': $('#area').val(),
                'sector': $('#sector').val()
            })
            ajax_call("/areagerenciasector_insertar", {object: objeto}, null, function () {setTimeout(function(){window.location=main_route}, 1000);})
            $('#form').modal('hide')
        })

        function attach_edit() {
            $('.edit').click(function () {
                obj = JSON.stringify({
                'id': parseInt(JSON.parse($(this).attr('data-json')))
                })
                ajax_call_get("/areagerenciasector_editar",{
                    object: obj
                },function(response){
                    var self = JSON.parse(response)                
                    $('#id').val(self.id)
                    $('#responsable').val(self.responsable)
                    $('#vigente').val(self.vigente)

                    $('#area').val(self.fkarea.id)
                    $('#area').selectpicker('render')

                    $('#gerencia').val(self.fkgerencia.id)
                    $('#gerencia').selectpicker('render')

                    $('#sector').val(self.fksector.id)
                    $('#sector').selectpicker('render')

                    clean_form()
                    verif_inputs()
                    $('#id_div').show()
                    $('#insert').hide()
                    $('#update').show()
                    $('#form').modal('show')
                })
            })
        }

        $('#update').click(function () {
            objeto = JSON.stringify({
                'id': parseInt(JSON.parse($('#id').val())),
                'responsable': $('#responsable').val(),
                'vigente': $('#vigente').val(),
                'area': $('#area').val(),
                'gerencia': $('#gerencia').val(),
                'sector': $('#sector').val()
            })
            ajax_call("/areagerenciasector_actualizar", {object: objeto}, null, function () {setTimeout(function(){window.location=main_route}, 1000);})
            
            $('#form').modal('hide')
        })
        reload_form()
    </script>

    <script>
        attach_edit()

        $('.delete').click(function () {
            id = parseInt(JSON.parse($(this).attr('data-json')))
            enabled = false
            swal({
                title: "¿Desea dar de baja el área gerencia sector?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#004c99",
                cancelButtonColor: "#F44336",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar"
            }).then(function () {
                ajax_call("/areagerenciasector_eliminar", { id,enabled,_xsrf: getCookie("_xsrf")}, null, function () {setTimeout(function(){window.location=main_route}, 1000);})
            })
        })
    </script>

{% endblock %}