{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .accion{ cursor:pointer }
    </style>
    <script src="resources/js/transporte.js"></script>
    <script src="resources/js/functions.js"></script>

    <script>
        main_route = '/delautoridad'

        function default_values() {
            page_nr = 1
            max_entries = 10
            like_search = ""
            order_by = ""
            ascendant = true
        }
        default_values()

    </script>
{% endblock %}
{% block body %}

    {{ include('delautoridad/form.html.twig') }}

    <div class="header bg-indigo"><h2>DELEGACIÓN DE AUTORIDAD</h2></div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
            {% if 'delautoridad_insertar' in permisos %}
                <button id="new" type="button" class="btn bg-indigo waves-effect" title="Nuevo">
                    <i class="material-icons">add</i>
                </button>
            {% endif %}
            </div>
        </div>
        {% if 'home_delautoridad' in permisos and objects %}
            <div class="row">
                <div class="body table-responsive">
                    <table id="data_tabletr" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                        <tr>
                            <th class="order_by_th" data-name="phone">Nombre </th>
                            <th class="order_by_th" data-name="names">Cargo </th>
                            <th class="order_by_th" data-name="names">Archivo </th>
                            <th class="order_by_th" data-name="names">Foto </th>
                            <th class="actions_header">Acciones </th>
                        </tr>
                        </thead>
                        <tbody id="table_content">
                        {{ include('delautoridad/table.html.twig') }}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
        {% endif %}
    </div>
{%endblock%}
{% block javascripts %}
    <script src="resources/plugins/momentjs/moment.js"></script>
    <script src="resources/plugins/momentjs/locale/es.js"></script>
    <script src="resources/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

    <script>
    attach_validators()

    $('#form').submit(function(){
        var botonSubmit = document.getElementById('delegacion_autoridad_submit')
        botonSubmit.innerText = "Guardando..."
        botonSubmit.disabled = true
    })

    $('#new').click(function () {
        $('#lnkva').remove();
        $('#lnkvf').remove();
        $('#delegacion_autoridad_id').hide()
        $("#delegacion_autoridad_id" ).siblings().hide()
        $('#delegacion_autoridad_id').val('')
        $('#delegacion_autoridad_nombre').val('')
        $('#delegacion_autoridad_cargo').val('')

        clean_form()
        verif_inputs()
        $('#id_div').hide()
        $('#insert').show()
        $('#update').hide()

        document.getElementById("delegacion_autoridad_submit").innerHTML= "Guardar"
        $('#delegacion_autoridad_id').val(0)
        $('#form').modal('show')
    })

    $("#delegacion_autoridad_foto").change(function(){
        $("#lnkvf").hide();
    });

    $("#delegacion_autoridad_archivo").change(function(){
        $("#lnkva").hide();
    });

    function attach_edit() {
        $('.edit').click(function () {
            $("#delegacion_autoridad_id").attr("readonly", "readonly")

            $('#delegacion_autoridad_id').val('')
            $('#delegacion_autoridad_id').show()
            $( "#delegacion_autoridad_id" ).siblings().show()
            obj = JSON.stringify({
                'id': parseInt(JSON.parse($(this).attr('data-json')))
            })
            ajax_call_get("/delautoridad_editar",{
                object: obj
            },function(response){
                var self = JSON.parse(response)
                $('#delegacion_autoridad_id').val(self.id)
                document.getElementById('delegacion_autoridad_nombre').value = self.nombre
                document.getElementById('delegacion_autoridad_cargo').value = self.cargo

                if(self.foto != 'N/A') {
                    $('#lnkvf').remove();

                    let urlimage = '/delautoridad'+self.foto;
                    let vimage = urlimage.substring(urlimage.lastIndexOf("/")+1, urlimage.length);
                    $("<a id='lnkvf' href='"+urlimage+"'>"+vimage+"</a>").insertAfter("#delegacion_autoridad_foto");
                }
                else $('#lnkvf').hide();

                if(self.archivo != 'N/A') {
                    $('#lnkva').remove();

                    let urlfile = '/delautoridad'+self.archivo;
                    let vfile = urlfile.substring(urlfile.lastIndexOf("/")+1, urlfile.length);
                    $("<a id='lnkva' href='"+urlfile+"'>"+vfile+"</a>").insertAfter("#delegacion_autoridad_archivo");
                }
                else $('#lnkva').hide();
            })
            clean_form()
            verif_inputs()
            $('#id_div').show()
            $('#insert').hide()
            $('#update').show()
            
            document.getElementById("delegacion_autoridad_submit").innerHTML = "Modificar"
            setTimeout(function(){$('#form').modal('show')}, 500);
        })
    }
    reload_form()
    </script>
    <script>
        attach_edit()

        $('.delete').click(function () {
            id = parseInt(JSON.parse($(this).attr('data-json')))
            enabled = false
            swal({
                title: "¿Desea dar de baja los datos de la delegación?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#004c99",
                cancelButtonColor: "#F44336",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar"
            }).then(function () {
                ajax_call(
                    "/delautoridad_eliminar", 
                    { id: id, enabled: enabled, _xsrf: getCookie("_xsrf") }, 
                    null, 
                    function () { setTimeout(function(){window.location = main_route}, 1000); }
                )
            })
        })
    </script>

{% endblock %}