{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .accion{ cursor:pointer }
	    .modal-dialog{
             width: 100% !important;
        }    
        .open {
             width: 100% !important;
        } 

    </style>
{% endblock %}

{% block body %}
    {{ include('accionreprograma/form.html.twig') }}

    <div class="header bg-indigo"><h2>REPROGRAMA DE LA ACCIÓN</h2></div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
            {% if 'accionreprograma_insertar' in permisos %}
                <button id="new" type="button" class="btn bg-indigo waves-effect" title="Nuevo">
                    <i class="material-icons">add</i>
                </button>
            {% endif %}
            </div>
        </div>
        {% if 'home_accionreprograma' in permisos and objects %}
            <div class="row">
                <div class="body table-responsive">
                    <table id="data_tabletr" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                        <tr>
                            <th class="order_by_th" data-name="phone">Acción </th>
                            <th class="order_by_th" data-name="phone">Fecha Anterior </th>
                            <th class="order_by_th" data-name="phone">Fecha de Implementación </th>
                            <th class="order_by_th" data-name="phone">Motivo y Justificación </th>
                            <th class="order_by_th" data-name="phone">Autorizador </th>
                            <th class="order_by_th" data-name="phone">Responsable de Registro </th>
                            <th class="order_by_th" data-name="phone">Fecha de Registro </th>
                            <th class="actions_header">Acciones </th>
                        </tr>
                        </thead>
                        <tbody id="table_content">
                        {{ include('accionreprograma/table.html.twig') }}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="resources/js/transporte.js"></script>
    <script src="resources/js/functions.js"></script>

    <script>
        main_route = '/accionreprograma'

        function default_values() {
            page_nr = 1
            max_entries = 10
            like_search = ""
            order_by = ""
            ascendant = true
        }
        default_values()
    </script>

    <script>
        attach_validators()

        $('#fkaccion').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar acción.',
            title: 'Seleccione una acción.'
        })

        $('#new').click(function () {
            $('#fechaanterior').val('')
            $('#fechaimplementacion').val('')
            $('#motivojustificacion').val('')
            $('#autoriza').val('')
            $('#responsableregistro').val('')
            $('#fecharegistro').val('')
            $('#fkaccion').val('')

            clean_form()
            verif_inputs()
            $('#id_div').hide()
            $('#insert').show()
            $('#update').hide()
            $('#form').modal('show')
        })

        $('#insert').click(function () {
            objeto = JSON.stringify({
                'fechaanterior': $('#fechaanterior').val(),
                'fechaimplementacion': $('#fechaimplementacion').val(),
                'motivojustificacion': $('#motivojustificacion').val(),
                'autoriza': $('#autoriza').val(),
                'responsableregistro': $('#responsableregistro').val(),
                'fecharegistro': $('#fecharegistro').val(),

                'accion': $('#fkaccion').val()
            })
            ajax_call_validation("/accionreprograma_insertar", {object: objeto}, null, main_route)
        })

        function addDate(){
            id = $('#fkaccion').val()

            obj = JSON.stringify({
                'id': id
            });
            ajax_call_get("/dateformat",{
                object: obj
            },function(response){
                var self = JSON.parse(response);
                $('#fechaanterior').val(self.fechaimplementacion)
            })
        }

        function attach_edit() {
            $('.edit').click(function () {
                obj = JSON.stringify({
                    'id': parseInt(JSON.parse($(this).attr('data-json')))
                });
                ajax_call_get("/accionreprograma_editar",{
                    object: obj
                },function(response){
                    var self = JSON.parse(response);
                    $('#id').val(self.id)
                    $('#fechaanterior').val(self.fechaanterior)
                    $('#fechaimplementacion').val(self.fechaimplementacion)
                    $('#motivojustificacion').val(self.motivojustificacion)
                    $('#autoriza').val(self.autoriza)
                    $('#responsableregistro').val(self.responsableregistro)
                    $('#fecharegistro').val(self.fecharegistro)
                    
                    $('#fkaccion').val(self.fkaccion.id)
                    $('#fkaccion').selectpicker('render')

                    clean_form()
                    verif_inputs()
                    $('#id_div').show()
                    $('#insert').hide()
                    $('#update').show()
                    $('#form').modal('show')
                })
            })
        }

        $('#update').click(function () {
            objeto = JSON.stringify({
                'id': parseInt(JSON.parse($('#id').val())),
                'fechaanterior': $('#fechaanterior').val(),
                'fechaimplementacion': $('#fechaimplementacion').val(),
                'motivojustificacion': $('#motivojustificacion').val(),
                'autoriza': $('#autoriza').val(),
                'responsableregistro': $('#responsableregistro').val(),
                'fecharegistro': $('#fecharegistro').val(),

                'accion': $('#fkaccion').val()
            })
            ajax_call_validation("/accionreprograma_actualizar", {object: objeto}, null, main_route)
        })
        reload_form()
    </script>

    <script>
        attach_edit()

        $('.delete').click(function () {
            id = parseInt(JSON.parse($(this).attr('data-json')))
            enabled = false
            swal({
                title: "¿Desea dar de baja el reprograma?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#004c99",
                cancelButtonColor: "#F44336",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar"
            }).then(function () {
                ajax_call("/accionreprograma_eliminar", { id,enabled,_xsrf: getCookie("_xsrf")}, null, function () {setTimeout(function(){window.location=main_route}, 1000);})
            })
        })
    </script>
{% endblock %}