<div class="card">
    <div class="card-tabs">
        <div class="card-content grey lighten-4">
            <span id="subject" class="card-title grey-text text-darken-4"> <b><i>{{remitente}}</i></b> </span><br>
            <span id="subject" class="card-title grey-text text-darken-4"> <b>{{asunto}}</b> </span>
        </div>
    </div>
    <div class="card-content">
        <p id="message" class="card-subtitle grey-text text-darken-2">
            {{ mensaje }}
        </p>
    </div>
</div>