<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<div class="card">
    <div class="card-tabs">
        <div class="card-content grey lighten-4">
            <span id="subject" class="card-title grey-text text-darken-4"> {{asunto[0]}} </span>
        </div>
    </div>
    <div class="card-content">
        <p id="message" class="card-subtitle grey-text text-darken-2">
            {{ mensaje[0] }}
        </p>
    </div>
</div>