{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="resources/font-awesome-4.7.0/css/font-awesome.min.css">
    <style>
        .accion{ 
            cursor:pointer 
        }
        .swal2-title{
            font-size: 16px !important;
        }
    </style>
{% endblock %}

{% block body %}
    {{ include('documento/form.html.twig') }}

    <div class="header bg-indigo"><h2>DOCUMENTO</h2></div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
            {% if 'documento_insertar' in permisos %}
                <button id="new" type="button" class="btn bg-indigo waves-effect" title="Nuevo">
                    <i class="material-icons">add</i>
                </button>
            {% endif %}
            </div>
        </div>
        {% if 'home_documento' in permisos and objects %}
            <div class="row">
                <div class="body table-responsive">
                    <table id="data_tabletr" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="d-none" data-name="phone">ID </th>
                            <th class="order_by_th" data-name="names">Código </th>
                            <th class="order_by_th" data-name="names">Título </th>
                            <th class="d-none" data-name="phone">Versión vigente </th>
                            <th class="d-none" data-name="phone">Vínculo archivo digital</th>
                            <th class="d-none" data-name="phone">Vínculo diagrama flujo</th>
                            <th class="d-none" data-name="phone">Carpeta operativa </th>
                            <th class="d-none" data-name="phone">Fecha de publicación </th>
                            <th class="order_by_th" data-name="names">Ficha </th>
                            <th class="order_by_th" data-name="phone">Tipo </th>
                            <th class="order_by_th" data-name="phone">Apobador </th>
                            <th class="actions_header">Acciones </th>
                        </tr>
                        </thead>
                        <tbody id="table_content">
                        {{ include('documento/table.html.twig') }}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="resources/js/transporte.js"></script>
    <script src="resources/js/functions.js"></script>

    <script>
        main_route = '/documento'

        function default_values() {
            page_nr = 1
            max_entries = 10
            like_search = ""
            order_by = ""
            ascendant = true
        }
        default_values()
    </script>

    <script>
        $('#documento_fkficha').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar tipo de ficha.',
            title: 'Seleccione un tipo de ficha.'
        })

        $('#documento_fktipo').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar tipo de documento.',
            title: 'Seleccione un tipo de documento.'
        })

        $('#documento_fkaprobador').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar aprobador.',
            title: 'Seleccione un aprobador.'
        })
        
        $('#new').click(function () {
            $('#lnkva').remove();
            $('#lnkvd').remove();
            $('#documento_id').hide()
            $("#documento_id").siblings().hide()

            $('#documento_codigo').val('')
            $('#documento_titulo').val('')
            $('#documento_versionvigente').val('')
            $('#documento_vinculoarchivodig').val('')
            $('#documento_vinculodiagflujo').val('')
            $('#documento_carpetaOperativa').val('')
            $('#documento_fechaPublicacion').val('')

            clean_form()
            verif_inputs()
            $('#id_div').hide()
            $('#insert').show()
            $('#update').hide()

            document.getElementById("documento_submit").innerHTML= "Guardar"
            $('#documento_id').val(0)
            $('#form').modal('show')
        })

        $("#documento_vinculoarchivodig").change(function(){
            $("#lnkva").hide();
        });

        $("#documento_vinculodiagflujo").change(function(){
            $("#lnkvd").hide();
        });

        $('#form').submit(function(){
            var botonSubmit = document.getElementById('documento_submit')
            botonSubmit.innerText = "Guardando..."
            botonSubmit.disabled = true
        })

        function attach_edit() {
            $('.edit').click(function () {
                $("#documento_id").attr("readonly", "readonly")
                obj = JSON.stringify({
                    'id': parseInt(JSON.parse($(this).attr('data-json')))
                })
                ajax_call_get("/documento_editar",{
                    object: obj
                },function(response){
                    var self = JSON.parse(response)
                                
                    $('#documento_id').val(self.id)
                    $('#documento_codigo').val(self.codigo)
                    $('#documento_titulo').val(self.titulo)
                    $('#documento_versionvigente').val(self.versionVigente)

                    $('#documento_carpetaOperativa').val(self.carpetaOperativa)
                    $('#documento_fechaPublicacion').val(self.fechaPublicacion)

                    document.getElementById('documento_fkficha').value = self.fkficha.id
                    $('#documento_fkficha').selectpicker('render')
        
                    document.getElementById('documento_fktipo').value = self.fktipo.id
                    $('#documento_fktipo').selectpicker('render')

                    document.getElementById('documento_fkaprobador').value = self.fkaprobador.id
                    $('#documento_fkaprobador').selectpicker('render')

                    if(self.vinculoarchivodig != 'N/A') {
                        $('#lnkva').remove();
                        let urlfile = self.vinculoarchivodig;
                        let vfile = urlfile.substring(urlfile.lastIndexOf("/")+1, urlfile.length);
                        $("<a id='lnkva' href='"+urlfile+"'>"+vfile+"</a>").insertAfter("#documento_vinculoarchivodig");
                    }
                    else $('#lnkva').hide();

                    if(self.vinculodiagflujo != 'N/A') {
                        $('#lnkvd').remove();
                        let urldown = self.vinculodiagflujo;
                        let vdown = urldown.substring(urldown.lastIndexOf("/")+1, urldown.length);
                        $("<a id='lnkvd' href='"+urldown+"'>"+vdown+"</a>").insertAfter("#documento_vinculodiagflujo");
                    }
                    else $('#lnkvd').hide();
                })
                clean_form()
                verif_inputs()
                $('#id_div').show()
                $('#insert').hide()
                $('#update').show()
                
                document.getElementById("documento_submit").innerHTML = "Modificar"
                setTimeout(function(){$('#form').modal('show')}, 500);
            })
        }

        reload_form()
    </script>

    <script>
        attach_edit()

        let message= ''
        function documento_previous(id) { 
            obj = JSON.stringify({
                'id': parseInt(JSON.parse(id))
            });
            ajax_call_get("/documento_prev",{
                object: obj
            },function(response){
                message = response;
            });
        }

        $('.delete').click(function () {
            id = parseInt(JSON.parse($(this).attr('data-json')))
            documento_previous(id)

            let quest = message + " ¿Está seguro en dar de baja el documento??" 
            enabled = false
            swal({
                title: quest,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#004c99",
                cancelButtonColor: "#F44336",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar"
            }).then(function () {
                ajax_call("/documento_eliminar", { 
                    id, enabled,_xsrf: getCookie("_xsrf")}, 
                    null, 
                    function () {
                        setTimeout(function(){ window.location=main_route }, 1000);
                })
            })
        })
    </script>

    <script>
        function format (d) {
            let urlfile = d[5];
            let vfile = urlfile.substring(urlfile.lastIndexOf("/") + 1, urlfile.length);
            let urldown = d[6];
            let vdown = urldown.substring(urldown.lastIndexOf("/") + 1, urldown.length); 

            html = '<div class="card" style="width: 100%; background-color: rgba(0, 76, 153, .15)">'+
            '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
                '<tr>'+
                    '<td class="bold">Versión vigente:</td>'+
                    '<td>'+d[4]+'</td>'+
                '</tr>';
            if(urlfile != 'N/A'){
                html += '<tr>'+
                    '<td class="bold">Vínculo archivo digital:</td>'+
                    '<td><a href="' + urlfile +'">' + vfile + '</a></td>'+
                '</tr>';
            }else{
                html += '<tr>'+
                    '<td class="bold">Vínculo archivo digital:</td>'+
                    '<td>' + urlfile + '</td>'+
                '</tr>';
            } 

            if(urldown != 'N/A'){
                html += '<tr>'+
                    '<td class="bold">Vínculo diagrama flujo:</td>'+
                    '<td><a href="' + urldown +'">' + vdown + '</a></td>'+
                '</tr>';
            }else{
                html += '<tr>'+
                    '<td class="bold">Vínculo diagrama flujo:</td>'+
                    '<td>' + urldown + '</td>'+
                '</tr>';
            }     
            html += '<tr>'+
                    '<td class="bold">Carpeta operativa:</td>'+
                    '<td>'+d[7]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Fecha de publicación:</td>'+
                    '<td>'+d[8]+'</td>'+
                '</tr>'+
            '</table></div>';
            return html;
        }
    
        $(document).ready(function() {
            table = $('#data_tabletr').DataTable();
            $('#data_tabletr tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                let idet = 'd'+row.data()[1];
                if ( row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                    $("#"+idet).attr('class', 'fa fa-plus-square cl-teal');
                    $("#"+idet).attr('title', 'Mostrar más');
                }
                else {
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                    $("#"+idet).attr('class', 'fa fa-minus-square cl-red');
                    $("#"+idet).attr('title', 'Ver menos');
                }
            });
        });
    </script>
{% endblock %}